@import '@/style/variables.scss';

.header {
  height: $header-height;
  line-height: $header-height;
  display: flex;
  .menu{
    flex:1;
  }
}

.logo {
  width: 40px;
  margin: 0 80px;
}
.personal {
  width: 120px;
  .center{
    background-color: #fff;
    width: 200px;
  }
}