.sider {
  .menu {
    width: 240px;
  }
  .collapsed {
    text-align: center;
    position: relative;
    bottom: 0;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 56px 0 70px;
    img {
      width: 30px;
    }
    h3 {
      line-height: 40px;
      font-size: 24px;
      color: #fff;
    }
  }
  :global {
    .ant-menu-item,
    // .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-sub.ant-menu-inline > .ant-menu-item {
      margin: 0;
      height: 56px;
      line-height: 56px;
      font-size: 16px;
      color: rgba($color: #fff, $alpha: 0.3);
    }
    .ant-menu-inline .ant-menu-item:not(:last-child) {
      margin-bottom: 0;
    }

    // 未选中字体颜色
    .ant-menu-dark .ant-menu-item > a {
      color: rgba($color: #fff, $alpha: 0.3);
    }
    .ant-menu-dark .ant-menu-item-selected > a {
      color: rgba($color: #fff, $alpha: 0.9);
    }

    .ant-menu-item.ant-menu-item-selected > span > a {
      color: rgba($color: #fff, $alpha: 0.9);
    }
    .ant-menu-item > span > a {
      color: rgba($color: #fff, $alpha: 0.3);
    }

    .ant-menu-dark .ant-menu-inline.ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-item-selected {
      color: rgba($color: #fff, $alpha: 0.9);
      background: transparent;
    }
  }
}
