// $bg-color: #001529; antd中dark主题色值
$bg-color: #fff;
$padding-20: 20px;
.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  .top {
    width: 100%;
    height: 400px;
    display: flex;
    .left {
      background: $bg-color;
      margin-right: 20px;
      width: calc((100%-20px)/2);
      padding: $padding-20;
      display: flex;
      justify-content: space-between;
    }
    .right{
      background: $bg-color;
      padding: $padding-20;
      flex: 1;
    }
  }
  .bottom {
    background: $bg-color;
    margin-top: 20px;
    padding: $padding-20;
    flex: 1;
  }
}

